/* Body */
body {
  min-height: 100vh;
  color: #ffffff;
  font-family: Abel;
  background: linear-gradient(0deg, #171515, #0c3736, #171515);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Links */
a {
  text-decoration: none;
}

.pt {
  padding-top: 100px !important;
}

.img-top {
  width: 150px;
}

.img-main {
  width: 420px;
}

.fa-brands {
  font-size: 30px;
  color: #ffffff;
  padding-left: 35px;
  padding-bottom: 10px;
}

.fa-brands:hover {
  color: #9b9a9a;
  transition: 0.5s;
}
